* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* ROOT */
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap');

body {
	font-family: 'Lora', serif;
	font-size: 14px;
}

.container {
}

/* BUTTONS */
.button {
	display: inline-flex;
	border-radius: 8px;
	justify-content: center;
	align-items: center;
}
.button__size_large {
	padding: 17px 56px;
	font-size: 20px;
	line-height: 26px;
}
.button__color_primary {
	background: #b09a81;
	color: #462929;
}
.button__color_primary:hover {
	background: #daaf7c;
}
.button__color_primary:active {
	background: #B08F67;
}

/* HEADER */
.header {
	display: flex;
	height: 100px;
	background-color: #000;
}
.header__logo {
	display: flex;
	width: 221px;
	align-items: center;
	justify-content: center;
}
.header__nav {
	display: flex;
	align-items: center;
}

.header__nav-list {
	display: flex;
}
.header__nav-item {
	list-style: none;
	margin-right: 33px;
}
.header__nav-link {
	display: flex;
	height: 100px;
	align-items: center;
	line-height: 26px;
	color: #b09a81;
	font-size: 20px;
	text-decoration: none;
}
.header__nav-link:hover {
	color: #daaf7c;
}

/* FIRST-SCREEN */
.first-screen {
	height: 980px;
	background: #00202f url('../img/bg_1.jpg');
}

.first-screen__container {
	padding: 227px 0 0 221px;
}

.first-screen__header {
	font-size: 72px;
	font-weight: 700;
	line-height: 80px;
	color: #fff;
	margin: 0 0 65px 0;
}
.first-screen__descrition {
	font-size: 24px;
	line-height: 31px;
	color: #fff;
	margin: 0 0 65px 0;
}
.first-screen__button {
	text-decoration: none;
}
